body {font-family: Verdana, sans-serif}
div.up {margin: 10 auto; width: 800px; background-color: #c4c4c4}
#swiss {padding: 30px 30px 30px 30px; text-align: center;}
#jap {padding: 30px 30px 30px 30px; text-align: center;}
#bottom {
width: 680px;
background-color: #ffdede;
border-top: 3px solid #ff3366;
border-left: 3px solid #ff3366;
border-right: 3px solid #ff3366;
border-bottom: 13px solid #ff3366;
padding: 20px 30px 20px 30px;
line-height: 180%;
text-align: center;
font-size: 10px
}
#header {
height: 130px;
width: 800px;
margin: 0;
padding: 0;
background: #eed6ff;
border-bottom: 5px solid #a3a3a3

}
#header h2 {padding-top:47px}
ul.nav {
display: block;
margin: 0;
padding: 0 0 0 90px;
list-style-type: none
}
ul.nav li {background-color: #600033; display: inline; padding: 0}
ul.nav li a:link, ul.nav li a:visited, ul.nav li a:active {
background-color: #660033;
padding: 5px 15px 1px 15px;
color: #cccccc;
text-decoration: none;
border-bottom: 2px solid #660033
}
ul.nav li a:hover {
background-color: #ffffff;
padding: 5px 15px 1px 15px;
color: #cc0000;
text-decoration: none;
border-bottom: 2px solid #660033
}
#list
a:link {color: #cccccc}
a:visited {color: #ffffff}
